@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik',sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
    text-decoration: underline;
}

body{
    font-family: sans-serif;
    background-color: #e8fcec;
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: 0.4em 2em;
}

form{
    padding: 0 3em;
}

#login .title>span{
    font-size: 0.8em;
}

.navbar{
    /* position: fixed; */
    background-color: rgb(209,244,234);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid red; */
}

.nav{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */

}

.navbar .logo img{
    height: 100px;
    border-radius: 20px;
}

.navbar .nav .nav-item{
    border: 1px solid black;
    padding: 3px 15px;
    border-radius: 20px;
}

/* Login Page */
.loginPage{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.citizenForm{
    border: 1px solid black;
    /* background-color: black; */
    height: 70%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: -3px -3px -5px #ffffff70 , 
    3px 3px 15px #00000070 !important;
}

.citizenForm form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.citizenForm form .input{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.citizenForm form .input .inputs label{
    font-weight: 600;
}

.citizenForm form .input .inputs input{
    padding: 5px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(209,244,234);
    color: rgb(98,115,110);
}

.citizenForm form button{
    width: 50%;
    height: 35px;
    border-radius: 20px;
    font-weight: 600;
    background-color: rgb(209,244,234);
}

/* Dashboard */
.main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Book a Pickup */
.book{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.book .title h1{
    font-weight: 600;
}

.book form{
    align-items: left;
    width: 70%;
}

.book form label{
    font-weight: bold;
}
.book form .catagory{
    padding: 10px;
}
.book form .location{
    display: none;
}
/* .book form .map{
    height: 500px;
    /* width: 200px; */
    /* border: 1px solid black; */
/* } */ 

.map{
    height: 450px;
    width: 450px;
    border: 1px solid black;
}

.book form select{
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(209,244,234);
    color: rgb(98,115,110);
}

.book form .address{
    padding: 10px;
}

.book form .address input{
    height: 100px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(209,244,234);
    color: rgb(98,115,110);
}
.amount{
    padding: 10px;
}

.book form .amount input{
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(209,244,234);
    color: rgb(98,115,110);
}
.book form .phoneNo input{
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(209,244,234);
    color: rgb(98,115,110);
}

.book form .time input{
    margin: 10px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(209,244,234);
    color: rgb(98,115,110);
}

.book form .image{
    padding: 10px;
}
.pickup{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
